@tailwind base;
@tailwind components;
@tailwind utilities;

h2,a{
  font-family: kinta;
}
h3{
  font-family: Gilroy;
}
.info a{
font-size: 22px;
}



@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins.regular\ \(1\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}